<div class="app">
    <nz-layout>
        <nz-header>
         <div class="header">
           <div class="left">
            <h2>我的音乐</h2>
            <ul class="menu">
              <li><a href="javascript:;">发现音乐</a> </li>
              <li><a href="javascript:;">我的音乐</a></li>
              <li><a href="javascript:;">朋友</a></li>
              <li><a href="javascript:;">商城</a></li>
              <li><a href="javascript:;">音乐人</a></li>
              <li><a href="javascript:;">下载客户端</a></li>
            </ul>
            </div>
           <div class="right">
             <div class="login">
              <button nz-button nzType="link">登录</button>
             </div>
             <div class="creat">
              <button nz-button nzType="default">创作中心</button>
             </div>
             <div class="search">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                  <input type="text" nz-input placeholder="音频/视频/电台/用户" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                  <i nz-icon nzType="search"></i>
                </ng-template>
             </div>
           </div>
         </div>
        </nz-header>
        <!-- main部分 -->
        <nz-content>
          <a [routerLink]="[ '/home']"></a>
          <router-outlet></router-outlet>
        </nz-content>
        <nz-footer class="footer">
          <span class="fl">Ant Deign c2019 mplemn By Angule</span> 
        </nz-footer>
      </nz-layout>
</div>


